<%- include('header'); -%>
    <div id="wrapper" class="inner_page home_two contacts_page">

        <section id="Contact_form">

            <div class="container ">
                <div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <h2>Order Details</h2>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a href="/serviceprovider/update/<%=data[0]?.id%>" class="btn btn-primary" style="
                        background-color: rgb(4, 196, 199);
                        border-color: rgb(8, 196, 199);
                      ">Update</a>

                    </div>

                </div>

                <table class="table">

                    <tr>
                        <th>Username</th>
                        <td>
                            <%=data[0]?.User.Fname%>
                                <%=data[0]?.User.Lname%>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <%=data[0]?.User.Email_id%>
                        </td>
                    </tr>
                    <tr>
                        <th>Mobile Number</th>
                        <td>
                            <%=data[0]?.User.Mobile_no%>
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            <%=data[0]?.User.Address%>
                        </td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>
                            <%=data[0]?.User.City.City_name%>
                        </td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>
                            <%=data[0]?.Category_Booking.category%>
                        </td>
                    </tr>
                    <tr>
                        <th>Booking Date</th>
                        <td>
                            <%=data[0]?.Booking_date%>
                        </td>
                    </tr>
                    <tr>
                        <th>Total Amount</th>
                        <td>
                            <%=data[0]?.Total_Amount%>
                        </td>
                    </tr>
                    <tr>
                        <th>Booking Status</th>
                        <td>
                            <%=data[0]?.Booking_status%>
                        </td>
                    </tr>
                    <tr>
                        <th>Payment Status</th>
                        <td>
                            <%=data[0]?.Payment_status%>
                        </td>
                    </tr>
                    <tr>
                        <th>Payment Type</th>
                        <td>
                            <%=data[0]?.Payment_Type%>
                        </td>
                    </tr>
                    <tbody>


                        <!-- <td>
                      <button class="edit btn btn-sm btn-primary">Edit</button>
                      <button class="delete btn btn-sm btn-primary">Delete</button>
                    </td> -->
                    </tbody>
                </table>
            </div>

        </section>
        <!--Contact Form End-->

        <!--Footer-->
        <%- include('../utils/footer'); -%>
            <!--/Footer-->

    </div>
    <!--/Wrapper End-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/datetime/moment.js"></script>
    <script src="js/datetime/bootstrap-datetimepicker.min.js"></script>
    <script src="js/owlcarousel/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-106074231-1', 'auto');
        ga('send', 'pageview');
    </script>