<%- include('./header'); -%> <%- include('./script'); -%>
    <%- include('./script'); -%>

      <div id="wrapper">

        <%- include('./navbar'); -%>

          <%- include('./sidenav'); -%>

            <div id="page-wrapper">

              <h1>View Orders</h1>

              <table class="table">

                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Booking Date</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Booking status</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Payment Type</th>
                  <th scope="col">Service man Name</th>
                </tr>

                <tbody>

                  <% data.forEach((item)=>{ %>
                    <tr>
                      <td>
                        <%= item.User.Fname + " " + item.User.Lname %>
                      </td>
                      <td>
                        <%= item.Category_Booking.category%>
                      </td>
                      <td>
                        <%= item.Booking_date%>
                      </td>
                      <td>
                        <%= item.Total_Amount%>
                      </td>
                      <td>
                        <%= item.Booking_status %>
                      </td>
                      <td>
                        <%= item.Payment_status %>
                      </td>
                      <td>
                        <%= item.Payment_Type %>
                      </td>
                      <td>
                        <% if (item.ServiceProvider) { %>

                          <%= item?.ServiceProvider?.Username?.Fname + " " + item?.ServiceProvider?.Username?.Lname%>

                            <% } else { %>
                              <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="<%=item.Category_id%> <%=item.id%>">Not
                                Assigned</button>
                              <%}%>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
              <!-- /.row -->
            </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" action="/admin/order/assign">
              <div class="modal-body">
                <input type="hidden" name="orderId" value="" id="orderId" />
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Choose Service Provider</label>
                  <select class="form-control" name="serviceprovider" id="serviceprovider" required>
                    <option value="">None</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <%- include('./footer'); -%>
        <script>
          $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var ids = button.data('whatever');
            const idsArray = ids.split(" ");
            getServiceProvider(idsArray[0], idsArray[1])
          })

          function getServiceProvider(categoryId, orderId) {
            $.ajax({
              url: "http://localhost:3020/admin/order/byCategory",
              data: { id: categoryId },
              dataType: "json",
              type: "POST",
              success: function (data) {
                document.getElementById("orderId").value = orderId;
                document.getElementById("serviceprovider").innerHTML = `<option value="">None</option>`;
                data.forEach(element => {
                  document.getElementById("serviceprovider").innerHTML = document.getElementById("serviceprovider").innerHTML +
                    `<option value="${element.id}">${element.Username.Fname} ${element.Username.Lname}</option>`;
                });
              }
            });
          }
        </script>