

    <%- include('../utils/header'); -%>

    <%- include('./script'); -%>

	<div id="wrapper">

		<%- include('./navbar'); -%>

		<%- include('./sidenav'); -%>

     
           
   <div id="page-wrapper">                   
        <div class="container my-4">
    <h1>All User</h1>
    
        <table class="table" >
          
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Full Name</th>
              <th scope="col">Contact</th>
              <th scope="col">Address</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th> 
            </tr>
        
          <tbody>
            <tr>
                
                <td> <button class='edit btn btn-sm btn-primary' >Edit</button> <button class='delete btn btn-sm btn-primary'>Delete</button>  </td>
              </tr>
             
            
    
    
          </tbody>
        </table>
        </div>      
         
            <!-- /.row -->
    </div>
    </div>   



    <%- include('../utils/footer'); -%>
