<%- include('../utils/header'); -%> <%- include('./script'); -%>

<div id="wrapper">
  <%- include('./navbar'); -%> <%- include('./sidenav'); -%>

  <div id="page-wrapper">
    <div class="container my-4">
      <h1>All City</h1>

      <table class="table">
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">City Name</th>
        </tr>

        <tbody>
            <% data.forEach(element=> {%>

                <tr>
                  <td><%=element.id%></td>
                  <td><%=element.City_name%></td>
                 
    
                  <td>
                    <a href="/admin/city/edit/<%=element.dataValues.id%>">
                      <button class="edit btn btn-sm btn-primary">Edit</button>
                      <a/>
                      <a  href="/admin/city/delete/<%=element.dataValues.id%>">
                        <button class="delete btn btn-sm btn-primary">Delete</button>
                      </a>
                  </td>
                </tr>
      
                <% }) %>
        </tbody>
      </table>
    </div>

    <!-- /.row -->
  </div>
</div>

<%- include('../utils/footer'); -%>
