<%- include('./utils/header'); -%>

  <!--Wrapper Start-->
  <div id="wrapper" class="home_two">
    <!--Header Section Start-->

    <!--/Header Section End-->

    <!--Banner Start-->
    <section id="banner" class="home-two">
      <div class="container text-center  home_two_banner">
        <div class="row text-center">
          <div class="col-md-12">
            <h1 class="panel-heading">Ready to Live Smarter?</h1>
            <p class="caption">
              Book Expert home cleaners and handymen at a moment's notice. just
              pick a<br />
              time and we'll do the rest
            </p>

            <button type="submit" class="btn btn booknow" style="background-color: rgb(4, 186, 189)">
              <a href="/service" style="font-size: 25px; color: white; text-decoration: none">Book now</a>
            </button>

          </div>
        </div>
      </div>
    </section>

    <!--/Banner End-->

    <!--How it works Section Satrt-->
    <section id="howitwork">
      <div class="container text-center">
        <h1 class="panel-heading">How it works</h1>
        <div class="row">
          <div class="col-md-3 col-xs-offset-0 step-one"><img src="images/02home/book2.png" alt="works" />
            <h4>Book</h4>
            <p>Select the date and time like<br />
              your perofessional to show up</p>
          </div>
          <div class="col-md-1 hidden-xs hidden-sm"> </div>
          <div class="col-md-3 step-two"> <img src="images/02home/Schedule2.png" alt="Book" />
            <h4>Schedule</h4>
            <p>Certified Taskers comes over<br />
              and done your task</p>
          </div>
          <div class="col-md-1 hidden-xs hidden-sm"> </div>
          <div class="col-md-3"> <img src="images/02home/Relax2.png" alt="Schedule" />
            <h4>Relax</h4>
            <p>your task is completed to your<br />
              satisfaction - guranteed</p>
          </div>
        </div>
      </div>
    </section>
    <!--How it works Section End-->

    <!--Our services Section Satrt-->
    <section id="services">
      <div class="container text-center services_back">
        <div class="col-md-12">
          <h1 class="panel-heading">Our services</h1>
          <ul class="services-list">

            <% data.forEach((item)=>{
              const imagePath = item.cat_image.slice(6);
              %>
              <li>
                <a href="booking/<%=item.id%>"><img src="<%=imagePath%>" alt="<%=item.category%>" height="50px"
                    width="50px" /><br />
                  <%=item.category%>
                </a>
              </li>

              <% }) %>
          </ul>
        </div>
      </div>
    </section>
    <!--Our services Section End-->

    <!--Trust Security Section Satrt-->
    <!--Trust Security Section End-->

    <!--Our Numbers Satrt-->
    <section id="numbers">
      <div class="container text-center">
        <h1 class="panel-heading">Why Choose Us</h1>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <!--counter box-->
            <div class="counter_box text-center">
              <div class="counter_icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
              <div class="counter_number_right">
                <div class="counter_number counter"><span class="stat-count">100</span>%</div>
                <h4 class="counter_name">Quality</h4>
              </div>
            </div>
            <!--counter box end-->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <!--counter box-->
            <div class="counter_box text-center">
              <div class="counter_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="counter_number_right">
                <div class="counter_number counter"><span class="stat-count">3</span>+</div>
                <h4 class="counter_name">People Working</h4>
              </div>
            </div>
            <!--counter box end-->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <!--counter box-->
            <div class="counter_box text-center">
              <div class="counter_icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
              <div class="counter_number_right">
                <div class="counter_number counter"><span class="stat-count">1</span>+</div>
                <h4 class="counter_name">Years Experience</h4>
              </div>
            </div>
            <!--counter box end-->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <!--counter box-->
            <div class="counter_box text-center">
              <div class="counter_icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
              <div class="counter_number_right">
                <div class="counter_number counter"><span class="stat-count">10</span>+</div>
                <h4 class="counter_name">Happy Smiles</h4>
              </div>
            </div>
            <!--counter box end-->
          </div>
        </div>
      </div>
    </section>
    <!--/Our Numbers Satrt End-->

    <!--Features Section Satrt-->

    <!--Features Section End-->
    <%if(feedbacks.length> 0) {%>
      <!--Testimonails Section Satrt-->
      <section id="testimonails">
        <div class="container text-center">
          <h1 class="panel-heading">Testimonails</h1>
          <div class="row">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel ">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner text-center">
                  <%let counter=0%>
                    <% feedbacks.forEach((item)=>{
                      counter++;
                      %>

                      <div class="item <%if(counter==1){%> active<%}%>">
                        <div class="avatar">
                          <img class="img-circle" src="images/clinte<%=counter%>.png" alt="Client 1" />
                        </div>
                        <h3>
                          <%=item.UserData.Fname%>
                            <%=item.UserData.Lname%>
                        </h3>
                        <h4>
                          <%=item.message%>
                        </h4>
                      </div>
                      <% }) %>

                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Testimonails Section End-->
      <%}%>
        <!--Downlod app Section Satrt-->

        <!--Features Section End-->

        <!--Trusted Section Satrt-->
        <%- include('./utils/footer'); -%>
          <!--Trusted Section End-->

          <!--Call To Action Start-->
          <!--Call To Action End-->

          <!--Footer-->

          <!--/Footer-->
  </div>
  <!--/Wrapper End-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owlcarousel/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "https://www.google-analytics.com/analytics.js",
      "ga"
    );

    ga("create", "UA-106074231-1", "auto");
    ga("send", "pageview");
  </script>