<%- include('./utils/header'); -%>
    <div id="wrapper" class="home_two">
        <!--Wrapper Start-->
        <!--Header Section Start-->

        <!--/Header Section End-->
        <!--Page Title Section Satrt-->
        <div id="page_title">
            <div class="container text-center">
                <div class="panel-heading">services</div>
                >
            </div>
        </div>
        <!--Page Title Section End-->

        <!--Service Page Start-->
        <section id="service_page">
            <div class="container text-center">
                <div class="row">
                    <% data.forEach((item)=>{
                        const imagePath = item.cat_image.slice(6);
                        %>
                        <a href="booking/<%=item.id%>">
                            <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <img src="<%=imagePath%>"
                                    alt="<%=item.category%>" />
                                <h4>
                                    <%=item.category%>
                                </h4>

                            </div>
                        </a>
                        <% }) %>
                </div>
            </div>
        </section>
        <!--Service Page End-->

        <!--Service Provider Satrt-->
        <section id="service_provider">
            <div class="container text-center">
                <h1 class="panel-heading">Worldwide largest home service provider</h1>
                <div class="row">
                    <div class="col-md-12">
                        <!--counter box-->
                        <div class="counter_box">
                            <div class="counter_number_right">
                                <div class="counter_number counter"><span class="stat-count">10</span>+</div>
                                <h4 class="counter_name">HAPPY CUSTOMERS</h4>
                            </div>
                        </div>
                        <!--counter box end-->
                        <!--counter box-->
                        <div class="counter_box">
                            <div class="counter_number_right">
                                <div class="counter_number counter"><span class="stat-count">6</span>+</div>
                                <h4 class="counter_name">SERVICE PROVIDERS</h4>
                            </div>
                        </div>
                        <!--counter box end-->
                    </div>
                </div>
            </div>
        </section>
        <!--/Service Provider Satrt End-->

        <!--Testimonails Section Satrt-->

        <!--Testmonails Section End-->

        <!--Footer-->

        <!--/Footer-->


        <%- include('./utils/footer'); -%>