<%- include('./utils/header'); -%>
    <div id="wrapper" class="home_two">
        <!--Wrapper Start-->
        <!--Header Section Start-->

        <!--/Header Section End-->
        <!--Page Title Section Satrt-->
        <div id="page_title">
            <div class="container text-center">
                <div class="panel-heading">services</div>
                >
            </div>
        </div>
        <!--Page Title Section End-->

        <!--Service Page Start-->
        <section id="service_page">
            <div class="container text-center">
                <div class="row">
                    <% data.forEach((item)=>{
                        const imagePath = item.cat_image.slice(6);
                        %>
                        <a href="booking/<%=item.id%>">
                            <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <img src="<%=imagePath%>"
                                    alt="<%=item.category%>" />
                                <h4>
                                    <%=item.category%>
                                </h4>
                                <p>
                                    <%=item.description%>
                                </p>
                            </div>
                        </a>
                        <% }) %>
                </div>
            </div>
        </section>
        <!--Service Page End-->

        <!--Service Provider Satrt-->
        <section id="service_provider">
            <div class="container text-center">
                <h1 class="panel-heading">Worldwide largest home service provider</h1>
                <div class="row">
                    <div class="col-md-12">
                        <!--counter box-->
                        <div class="counter_box">
                            <div class="counter_number_right">
                                <div class="counter_number counter"><span class="stat-count">10</span>+</div>
                                <h4 class="counter_name">HAPPY CUSTOMERS</h4>
                            </div>
                        </div>
                        <!--counter box end-->
                        <!--counter box-->
                        <div class="counter_box">
                            <div class="counter_number_right">
                                <div class="counter_number counter"><span class="stat-count">6</span>+</div>
                                <h4 class="counter_name">SERVICE PROVIDERS</h4>
                            </div>
                        </div>
                        <!--counter box end-->
                    </div>
                </div>
            </div>
        </section>
        <!--/Service Provider Satrt End-->

        <!--Testimonails Section Satrt-->
        <section id="testimonails">
            <div class="container text-center">
                <h1 class="panel-heading">Testimonails</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel ">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner text-center">
                                <div class="item active">
                                    <div class="avatar"><img class="img-circle" src="images/clinte1.png"
                                            alt="clinte1" /></div>
                                    <h3>Kevin Austin</h3>
                                    <strong>Lorem Ipsum</strong>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. It has survived not only five centuries, but also
                                        the leap into electronic typesetting, remaining essentially unchanged. It was
                                        popularised in the 1960s with the release of Letraset
                                        sheets containing Lorem Ipsum passages, a</p>
                                </div>
                                <div class="item">
                                    <div class="avatar"><img class="img-circle" src="images/testimonails2.png"
                                            alt="clinte2" /></div>
                                    <h3>Kevin Austin</h3>
                                    <strong>Lorem Ipsum</strong>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. It has survived not only five centuries, but also
                                        the leap into electronic typesetting, remaining essentially unchanged. It was
                                        popularised in the 1960s with the release of Letraset
                                        sheets containing Lorem Ipsum passages, a</p>
                                </div>
                                <div class="item">
                                    <div class="avatar"><img class="img-circle" src="images/testimonails3.png"
                                            alt="clinte3" /></div>
                                    <h3>Kevin Austin</h3>
                                    <strong>Lorem Ipsum</strong>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it
                                        to make a type specimen book. It has survived not only five centuries, but also
                                        the leap into electronic typesetting, remaining essentially unchanged. It was
                                        popularised in the 1960s with the release of Letraset
                                        sheets containing Lorem Ipsum passages, a</p>
                                </div>
                            </div>
                            <!-- Controls --><a class="left carousel-control" href="#carousel-example-generic"
                                data-slide="prev"> <span class="fa fa-angle-left"></span> </a> <a
                                class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span
                                    class="fa fa-angle-right"></span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonails Section End-->

        <!--Footer-->

        <!--/Footer-->


        <%- include('./utils/footer'); -%>